/* *{
    box-shadow: inset 0px 0px 0px 1px rgba(255, 30, 0, 0.1);
}   */
html{
    scroll-behavior: smooth;
}
  
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link-nav{
    text-decoration: none;
}
input{
    border: none;
    border-radius: 10px;
}
#red{
    color: rgb(241, 241, 245);
}
#red:hover{
    color: rgb(255, 255, 255);
}

.red{
    color: white;

}
.red:hover{
    color: red;
}

.red2{
  color:  red;  /* cor do read more */
}
.red2:hover{
    color: red;
}


@media only screen and(width:360px){
    .img-t{
         max-width: 300px;
    }
}

.bg-cor{
    background-color: rgb(240, 239, 239);
}
.texto{
    max-width: 290px;
}

/* footer */

.linha{
    border-color: black;
}
